#word-app {
    display: flex;
	align-items: center;
    flex-direction: column;
    font-family: 'ui-rounded';
    font-variant: small-caps;
}

body {
    background-color: black;
    background-size: cover;
    color: #77c9f2;
 }

h1 {
    text-align: center;
    position: relative;
    width: 100%;
    height: 70px;
    background-image: url("header-background.png");
    color: black;
    border-radius: 10px;
    box-shadow: 2px 3px 20px 1px grey;
    padding-top: 5px;
    margin-top: 5px;
    font-variant: small-caps;
    border: 2px solid black;
    background-color: #eba028;
}

.input-panel {
    width: 800px;
    height: 250px;
}

.input-word form {
    width: 800px;
    height: 105px;
    padding-top: 20px;
    text-align: center;
    position: relative;
}

.to-send {
    height: 35px;
    width: 590px;
    padding-left: 5px;
    line-height: 18px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid #9f9f9f54;
    display: inline-block;
}


.input-word form button{
    border: 2px solid #eba028;
    border-radius: 8px;
    height: 40px;
    width: 50%;
    margin-top: 15px;
    flex-grow: 1;
    background-color: lightgray;
    font-weight: bold;
    font-variant: small-caps;

}

.input-word.submit:hover {
    background-color: black;
    color: white;
  }

.outgoing form {
    width: 800px;
    height: 80px;
    text-align: center;
    position: relative;
}

.outgoing form button{
    border: 2px solid #eba028;
    border-radius: 8px;
    height: 40px;
    width: 50%;
    margin-top: 15px;
    flex-grow: 1;
    background-color: lightgray;
    font-weight: bold;
    font-variant: small-caps;
}

.submit:hover {
    background-color: black;
    color: white;
  }

.word-match {
    height: 50px;
    flex-direction: column;
    text-align: center;
    position: relative;
    display: flex;
    margin-bottom: 40px;
  }

.match-label {
    font-weight: bolder;
    font-size: 30px;
    background-color: #eba028;
    color: black;
    margin-top: 10px;
  }     

.display-panel {
    padding-top: 50px;
    height: 280px;
  }


.guess-words {
    background-color: white;
    overflow-y: scroll;
    height: 100px;
    width: 400px;
    text-align: center;
    position: relative;
    color: black;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 20px;
}

ol.guess-word {
    list-style-type: none;
    font-variant: small-caps;
}

.valid-words {
    background-color: white;
    overflow-y: scroll;
    height: 140px;
    width: 400px;
    text-align: center;
    position: relative;
    color: black;
    font-weight: bold;
    font-variant: small-caps;
}

ul.valid-word {
    list-style-type: none;
    font-variant: small-caps;
}

.each-word {
    font-variant: small-caps;
}

.each-guess {
    font-variant: small-caps;
}

.guess-history {
    background-color: #eba028;
}

.word-bank {
    background-color: #eba028;
}

